body {
  background-color: #BEA0B8;
}

.img-responsive {
  margin: 15px auto 15px;
}

.tabs {
  list-style-type: none;
  margin: auto;
  width: 100%;
  text-align: center;
}

.tablinks {
  width: 30%;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
  background: rgb(61, 35, 81);
  border: 5px solid rgb(29, 21, 40);
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.channels{
  background-color: white;
  padding: 40px 40px;
  width: 91%;
  margin: auto;
}

#search{
  width: 100%;
  margin-top: -10px;
}

.streamers > li{
  list-style-type: none;
}

#streamer-logo{
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;

}


















footer {
  text-align: center;
  margin:100px auto;
  width: 50%;
}
a:visited
{
    text-decoration: none;
    decoration: none;
}
